@model Models.Art

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Art</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UploadedBy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedBy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.ToImageTag(model => model.Image, Model.Image, "ImageTag")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
